{# dataclass_core.java.jinja - Core data class template #}

package {{ package_name }};

{# Imports #}
{%- for import in imports %}
import {{ import }};
{%- endfor %}
{%- if jackson_annotation %}
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonIgnore;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fasterxml.jackson.core.JsonProcessingException;
{%- endif %}
{%- if avro_annotation %}
import org.apache.avro.Schema;
import org.apache.avro.generic.GenericData;
import org.apache.avro.io.DatumReader;
import org.apache.avro.io.DatumWriter;
import org.apache.avro.io.DecoderFactory;
import org.apache.avro.io.EncoderFactory;
import org.apache.avro.io.Encoder;
import org.apache.avro.specific.SpecificDatumReader;
import org.apache.avro.specific.SpecificDatumWriter;
import org.apache.avro.specific.SpecificRecord;
import org.apache.avro.AvroRuntimeException;
{%- endif %}
{%- if jackson_annotation or avro_annotation %}
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.IOException;
import java.util.zip.GZIPInputStream;
import java.util.zip.GZIPOutputStream;
import java.io.InputStream;
{%- endif %}

/** {{ class_doc }} */
public class {{ class_name }}{%- if avro_annotation %} implements SpecificRecord{%- endif %} {

    {# Field declarations #}
    {%- for field in fields %}
    {%- if field.doc %}
    /** {{ field.doc }} */
    {%- endif %}
    {%- if jackson_annotation %}
    @JsonProperty("{{ field.original_name }}")
    {%- endif %}
    private {{ field.type }} {{ field.name | camel }};
    {%- endfor %}

    // Default constructor
    public {{ class_name }}() {}

    {# Getters and setters #}
    {%- for field in fields %}
    public {{ field.type }} get{{ field.name | pascal }}() {
        return this.{{ field.name | camel }};
    }

    public void set{{ field.name | pascal }}({{ field.type }} {{ field.name | camel}}) {
        this.{{ field.name | camel }} = {{ field.name | camel}};
    }
    {%- endfor %}

    {# isJsonMatch method #}
    {%- if jackson_annotation %}
    {{ is_json_match_method }}
    {%- endif %}

    {%- if avro_annotation %}
    // Avro schema and related methods
    public static final Schema AVROSCHEMA = new Schema.Parser().parse("{{ avro_schema }}");
    public static final DatumWriter<{{ class_name }}> AVROWRITER = new SpecificDatumWriter<{{ class_name }}>(AVROSCHEMA);
    public static final DatumReader<{{ class_name }}> AVROREADER = new SpecificDatumReader<{{ class_name }}>(AVROSCHEMA);

    {%- if jackson_annotation %}
    @JsonIgnore
    {%- endif %}
    @Override
    public Schema getSchema() { return AVROSCHEMA; }

    @Override
    public Object get(int field$) {
        switch (field$) {
            {%- for field in fields %}
            case {{ loop.index0 }}: return this.{{ field.name | camel }};
            {%- endfor %}
            default: throw new AvroRuntimeException("Bad index: " + field$);
        }
    }

    @SuppressWarnings("unchecked")
    @Override
    public void put(int field$, Object value$) {
        switch (field$) {
            {%- for field in fields %}
            case {{ loop.index0 }}: this.{{ field.name | camel }} = ({{ field.type }}) value$; break;
            {%- endfor %}
            default: throw new AvroRuntimeException("Bad index: " + field$);
        }
    }
    {%- endif %}

    {# toByteArray method #}
    {%- if jackson_annotation or avro_annotation %}
    /**
     * Converts the object to a byte array.
     * @param contentType the content type of the byte array
     * @return the byte array
     */
    public byte[] toByteArray(String contentType) throws IOException {
        byte[] result = null;
        String mediaType = contentType.split(";")[0].trim().toLowerCase();

        {%- if jackson_annotation %}
        if (mediaType.startsWith("application/json")) {
            ObjectMapper mapper = new ObjectMapper();
            result = mapper.writeValueAsBytes(this);
        }
        {%- endif %}
        {%- if avro_annotation %}
        if (mediaType.startsWith("application/avro+json") || mediaType.startsWith("avro/json")) {
            ByteArrayOutputStream baos = new ByteArrayOutputStream();
            Encoder encoder = EncoderFactory.get().jsonEncoder(AVROSCHEMA, baos);
            AVROWRITER.write(this, encoder);
            encoder.flush();
            result = baos.toByteArray();
        } else if (mediaType.startsWith("application/avro") || mediaType.startsWith("avro/binary")) {
            ByteArrayOutputStream baos = new ByteArrayOutputStream();
            Encoder encoder = EncoderFactory.get().binaryEncoder(baos, null);
            AVROWRITER.write(this, encoder);
            encoder.flush();
            result = baos.toByteArray();
        }
        {%- endif %}

        if (mediaType.endsWith("+gzip")) {
            ByteArrayOutputStream compressedStream = new ByteArrayOutputStream();
            try (GZIPOutputStream gzipOutputStream = new GZIPOutputStream(compressedStream)) {
                gzipOutputStream.write(result);
                gzipOutputStream.finish();
                result = compressedStream.toByteArray();
            }
        }

        if (result == null) {
            throw new UnsupportedOperationException("Unsupported content type: " + contentType);
        }

        return result;
    }

    /**
     * Converts the data to an object.
     * @param data the data to convert
     * @param contentType the content type of the data
     * @return the object
     */
    public static {{ class_name }} fromData(byte[] data, String contentType) throws IOException {
        String mediaType = contentType.split(";")[0].trim().toLowerCase();

        // Handle gzip compressed data
        if (mediaType.endsWith("+gzip")) {
            try (InputStream inputStream = new ByteArrayInputStream(data);
                 GZIPInputStream gzipStream = new GZIPInputStream(inputStream);
                 ByteArrayOutputStream decompressedStream = new ByteArrayOutputStream()) {
                byte[] buffer = new byte[1024];
                int bytesRead;
                while ((bytesRead = gzipStream.read(buffer)) != -1) {
                    decompressedStream.write(buffer, 0, bytesRead);
                }
                data = decompressedStream.toByteArray();
                mediaType = mediaType.replace("+gzip", ""); // Remove gzip suffix
            } catch (IOException e) {
                throw new UnsupportedOperationException("Error decompressing gzip data", e);
            }
        }

        // JSON deserialization
        {%- if jackson_annotation %}
        if (mediaType.equalsIgnoreCase("application/json")) {
            ObjectMapper mapper = new ObjectMapper();
            return mapper.readValue(data, {{ class_name }}.class);
        }
        {%- endif %}

        // Avro deserialization
        {%- if avro_annotation %}
        if (mediaType.equalsIgnoreCase("application/avro") || mediaType.equalsIgnoreCase("avro/binary")) {
            ByteArrayInputStream bais = new ByteArrayInputStream(data);
            return AVROREADER.read(null, DecoderFactory.get().binaryDecoder(bais, null));
        } else if (mediaType.equalsIgnoreCase("application/avro+json") || mediaType.equalsIgnoreCase("avro/json")) {
            ByteArrayInputStream bais = new ByteArrayInputStream(data);
            return AVROREADER.read(null, DecoderFactory.get().jsonDecoder(AVROSCHEMA, bais));
        }
        {%- endif %}

        throw new UnsupportedOperationException("Unsupported content type: " + contentType);
    }
    {%- endif %}
}
