{%- if avro_annotation %}
use lazy_static::lazy_static;
use apache_avro::Schema;
use flate2::read::GzDecoder;
use flate2::write::GzEncoder;
use std::io::Write;
{%- endif %}
{%- if serde_annotation or avro_annotation or xml_annotation %}
use serde::{self,Serialize, Deserialize};
{%- endif %}

#[derive(Debug{%- if serde_annotation or avro_annotation or xml_annotation %}{%- if not (xml_annotation and (serde_annotation or avro_annotation)) %}, Serialize{%- endif %}, Deserialize{%- endif %}, PartialEq, Clone, Default)]
{%- if xml_annotation %}
#[serde(rename = "{{ xml_name }}")]
{%- endif %}
pub enum {{ enum_name }} {
    #[default]
{%- for symbol in symbols %}
    {%- if (serde_annotation or xml_annotation) and (symbol.name != symbol.value or (xml_annotation and (serde_annotation or avro_annotation) and symbol.json_value != symbol.value)) %}
    #[serde(rename = "{{ symbol.value }}"{%- if xml_annotation and (serde_annotation or avro_annotation) and symbol.json_value != symbol.value %}, alias = "{{ symbol.json_value }}"{%- endif %})]
    {%- endif %}
    {{ symbol.name }},
{%- endfor %}
}

{%- if xml_annotation and (serde_annotation or avro_annotation) %}
impl Serialize for {{ enum_name }} {
    fn serialize<S>(&self, serializer: S) -> Result<S::Ok, S::Error>
    where
        S: serde::Serializer,
    {
        let is_xml = std::any::type_name::<S>().contains("quick_xml");
        let is_avro = std::any::type_name::<S>().contains("apache_avro");
        match self {
            {%- for symbol in symbols %}
            {{ enum_name }}::{{ symbol.name }} => {
                if is_xml {
                    serializer.serialize_str("{{ symbol.value }}")
                } else if is_avro {
                    serializer.serialize_unit_variant(
                        "{{ enum_name }}",
                        {{ loop.index0 }},
                        "{{ symbol.json_value }}",
                    )
                } else {
                    serializer.serialize_str("{{ symbol.json_value }}")
                }
            },
            {%- endfor %}
        }
    }
}
{%- endif %}

{%- if avro_annotation %}
lazy_static! {
    /// The static Avro schema as a parsed object
    pub static ref SCHEMA: Schema = Schema::parse_str({{ avro_schema }}).unwrap();
}
{%- endif %}

{%- if serde_annotation or avro_annotation or xml_annotation %}
impl {{ enum_name }} {
    {%- if avro_annotation %}
    /// Serializes the enum to Avro binary data.
    pub fn to_byte_array(&self, content_type: &str) -> Result<Vec<u8>, Box<dyn std::error::Error>> {
        let media_type = content_type.split(';').next().unwrap_or("");
        let (base_media_type, gzip) = media_type
            .strip_suffix("+gzip")
            .map_or((media_type, false), |base| (base, true));
        if base_media_type != "avro/binary" &&
           base_media_type != "application/vnd.apache.avro+avro" {
            return Err(format!("unsupported media type: {}", media_type).into());
        }

        let value = apache_avro::to_value(self)?.resolve(&SCHEMA)?;
        let result = apache_avro::to_avro_datum(&SCHEMA, value)?;
        if gzip {
            let mut encoder = GzEncoder::new(Vec::new(), flate2::Compression::default());
            encoder.write_all(&result)?;
            return Ok(encoder.finish()?);
        }
        Ok(result)
    }

    /// Deserializes the enum from Avro binary data.
    pub fn from_data(data: impl AsRef<[u8]>, content_type: &str) -> Result<Self, Box<dyn std::error::Error>> {
        let media_type = content_type.split(';').next().unwrap_or("");
        let (base_media_type, gzip) = media_type
            .strip_suffix("+gzip")
            .map_or((media_type, false), |base| (base, true));
        if base_media_type != "avro/binary" &&
           base_media_type != "application/vnd.apache.avro+avro" {
            return Err(format!("unsupported media type: {}", media_type).into());
        }

        let data = if gzip {
            let mut decoder = GzDecoder::new(data.as_ref());
            let mut decompressed_data = Vec::new();
            std::io::copy(&mut decoder, &mut decompressed_data)?;
            decompressed_data
        } else {
            data.as_ref().to_vec()
        };
        let value = apache_avro::from_avro_datum(&SCHEMA, &mut &data[..], None)?;
        Ok(apache_avro::from_value(&value)?)
    }
    {%- endif %}

    pub fn is_json_match(node: &serde_json::Value) -> bool {
        return node.is_string();
    }

    /// Returns the struct instance itself
    pub fn to_object(&self) -> &Self {
        return self;
    }
}
{%- endif %}

#[cfg(test)]
impl {{ enum_name }} {
    pub fn generate_random_instance() -> {{ enum_name }} {
        let mut rng = rand::thread_rng();
        match rand::Rng::gen_range(&mut rng, 0..{{ symbols | length }}) {
            {%- for symbol in symbols %}
            {{ loop.index0 }} => {{ enum_name }}::{{ symbol.name }},
            {%- endfor %}
            _ => panic!("Invalid random index generated"),
        }
    }
}

#[cfg(test)]
mod tests {
    use super::*;
    use rand::Rng;

    {%- if serde_annotation or avro_annotation or xml_annotation %}
    #[test]
    fn test_serialize_deserialize_{{ enum_name.lower() }}() {
        {%- for symbol in symbols %}
        let instance = {{ enum_name }}::{{ symbol.name }};
        {%- if serde_annotation or xml_annotation %}
        let json_bytes = serde_json::to_vec(&instance).unwrap();
        let deserialized_instance: {{ enum_name }} = serde_json::from_slice(&json_bytes).unwrap();
        assert_eq!(instance, deserialized_instance);
        {%- endif %}
        {%- if avro_annotation %}
        let avro_bytes = instance.to_byte_array("avro/binary").unwrap();
        let deserialized_instance = {{ enum_name }}::from_data(&avro_bytes, "avro/binary").unwrap();
        assert_eq!(instance, deserialized_instance);
        let avro_gzip_bytes = instance.to_byte_array("avro/binary+gzip").unwrap();
        let deserialized_gzip_instance = {{ enum_name }}::from_data(&avro_gzip_bytes, "avro/binary+gzip").unwrap();
        assert_eq!(instance, deserialized_gzip_instance);
        {%- endif %}
        {%- endfor %}
    }
    {%- endif %}

    {%- if avro_annotation %}
    #[test]
    fn test_rejects_invalid_content_type_{{ enum_name.lower() }}() {
        let instance = {{ enum_name }}::default();
        assert!(instance.to_byte_array("text/plain").is_err());
        assert!({{ enum_name }}::from_data([], "text/plain").is_err());
        assert!(instance.to_byte_array("avro/binary-invalid").is_err());
        assert!(instance.to_byte_array("application/vnd.apache.avro+avroevil").is_err());
        assert!({{ enum_name }}::from_data([], "avro/binary-invalid").is_err());
        assert!({{ enum_name }}::from_data([], "application/vnd.apache.avro+avroevil").is_err());
        assert!({{ enum_name }}::from_data([0, 1], "avro/binary+gzip").is_err());
    }
    {%- endif %}

    #[test]
    fn test_enum_variants_{{ enum_name.lower() }}() {
        {%- for symbol in symbols %}
        let _instance = {{ enum_name }}::{{ symbol.name }};
        {%- endfor %}
    }
}
