    XMLName: typing.ClassVar[str] = {{ xml_name | tojson }}
    XMLNamespace: typing.ClassVar[str] = {{ xml_namespace | tojson }}
    XMLFields: typing.ClassVar[dict[str, tuple[str, str]]] = {
        {%- if base_class %}
        **{{ base_class.split('.')[-1] }}.XMLFields,
        {%- endif %}
        {%- for field in fields %}
        {{ field.name | tojson }}: ({{ field.xml_name | tojson }}, {{ field.xml_kind | tojson }}),
        {%- endfor %}
    }

    def _to_xml_element(self, tag: str | None = None, namespace: str | None = None) -> ET.Element:
        """Build an ElementTree element using the generated XML mapping metadata."""
        effective_namespace = self.XMLNamespace or namespace or ''
        element = ET.Element(_xml_qname(tag or self.XMLName, effective_namespace))
        type_hints = typing.get_type_hints(type(self))
        for field in dataclasses.fields(self):
            value = getattr(self, field.name)
            if value is None:
                continue
            xml_name, xml_kind = self.XMLFields[field.name]
            field_type = type_hints.get(field.name, typing.Any)
            if xml_kind == 'attribute':
                element.set(xml_name, _xml_scalar(value))
            else:
                _xml_append_value(element, xml_name, value, field_type, effective_namespace)
        return element

    @classmethod
    def _from_xml_element(cls, element: ET.Element) -> '{{ class_name }}':
        """Create an instance from an ElementTree element."""
        namespace = cls.XMLNamespace or _xml_namespace(element.tag)
        type_hints = typing.get_type_hints(cls)
        values: dict[str, typing.Any] = {}
        for field in dataclasses.fields(cls):
            xml_name, xml_kind = cls.XMLFields[field.name]
            field_type = type_hints.get(field.name, typing.Any)
            concrete_type = _xml_concrete_type(field_type)
            origin, args = _xml_origin_args(concrete_type)
            if xml_kind == 'attribute':
                attribute = element.get(xml_name)
                if attribute is not None:
                    values[field.name] = _xml_convert_text(attribute, field_type)
                elif _xml_allows_none(field_type):
                    values[field.name] = None
                continue
            field_namespace = _xml_type_namespace(field_type, namespace)
            qualified_name = _xml_qname(xml_name, field_namespace)
            if origin in (list, set, tuple):
                item_type = args[0] if args else typing.Any
                children = element.findall(qualified_name)
                if children or not _xml_allows_none(field_type):
                    items = [_xml_read_element(child, item_type, field_namespace) for child in children]
                    values[field.name] = set(items) if origin is set else tuple(items) if origin is tuple else items
                else:
                    values[field.name] = None
                continue
            child = element.find(qualified_name)
            if child is not None:
                values[field.name] = _xml_read_element(child, field_type, field_namespace)
            elif _xml_allows_none(field_type):
                values[field.name] = None
            elif origin is dict:
                values[field.name] = {}
        return cls(**values)