{
  "name": {{ package_name|tojson }},
  "version": "1.0.0",
  "description": "Generated JavaScript classes from JSON Structure schema",
  "main": "src/index.js",
  "scripts": {
    "test": "node test/test_runner.js"
  },
  "keywords": [],
  "author": "",
  "license": "ISC"{% if xml_annotation %},
  "dependencies": {
    "fast-xml-parser": "^5.2.5"
  }{% endif %}
}
